* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", serif;
  }

/*--------------------------Navbar--------------------*/

  .navbar {
    display: flex;
    align-items: center;
    padding: 20px;
  }
  
  nav {
    flex: 1;
    text-align: right;
  }
  
  nav ul {
    display: inline-block;
    list-style-type: none; 
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  a {
    text-decoration: none;
    color: #555;
  }

  .nav-link {
    display: inline-block; 
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: 0.5s;
  }
    .nav-link:hover{
    background: #ff523b;
  }

  .active{
    color: #fff;
    background: #ff523b;
  }

  .nav-icon{
    display: flex;
    align-items: center;
    gap: 40px; 
    padding-left: 50px;
  }

  .container {
    max-width: 1600px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
  }
  
  .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .col-2 {
    flex-basis: 50%;
    min-width: 300px;
  }
  
  .col-2 img {
    max-width: 100%;
    padding: 50px 0;
  }
  
  .col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    color:rgba(0, 0, 0, 0.674);
  }

  .btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
  }

  .btn:hover{
    background-color: #563434;
  }

  
/* ------------ Testimonial------------------ */

  .testimonial {
    padding-top: 100px;  
    min-height: 300px; 
    min-width: 400px;
    padding: 20px;
    background-color: #4800ff; 
  }
  .col-3{
    margin-bottom: 20px;
  }
  
  .testimonial .col-3 {
    text-align: center;
    max-width: 500px;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 1); 
    cursor: pointer;
    transition: transform 0.5s;
  }
  
  .testimonial .col-3 img {
    width: 50px;
    margin-top: 20px; 
  }
  
    .testimonial .col-3:hover {
    transform: translateY(-10px);
    } 
  
  .fa-quote-left {
    font-size: 34px;
    color: #000000;
  }
  
  .col-3 p {
    font-size: 15px;
    margin: 12px 0;
    color: #ffffff;
    font-weight: 500;
  }
 
  .testimonial .col-3 h3 {
    font-weight: 600;
    color: #555;
    font-size: 16px;
  }
  
  .testimonial h1{
    text-align: center;
    margin:30px ;
    color: #fff;
    font-size:50px;
  }

  .test-1, .test-3{
    background-color: #ff3c00;
    border-radius: 20px;
    color: white;
  }
  .test-2{
    background-color: #e9e9e9;
    border-radius: 20px;
    color: rgb(0, 0, 0);
  }
  .test-2 p{
    color: #000000; 
  }

  /* Footer */

footer{ 
    text-align: center; 
    background-color: #ff3c00;
    height: 100px; 
    min-width: 400px;
}

footer p{ 
    padding-top: 50px;
}

@media (max-width:1200px) { 
  .nav-link{
    display: none;
  }
  
}

@media (min-width:1200px) {
  .fa-bars{
    display: none;
  }
} 

 